apiVersion: v1
kind: Secret
metadata:
  name: weblate-credentials
  labels:
    app.kubernetes.io/name: weblate-credentials
    app: weblate-credentials
stringData:
  # Weblate setup
  WEBLATE_ADMIN_EMAIL: email@example.com
  WEBLATE_ADMIN_NAME: Weblate Admin
  WEBLATE_ADMIN_PASSWORD: changethispassword
  WEBLATE_ALLOWED_HOSTS: "*"
  WEBLATE_DEBUG: "1"
  WEBLATE_DEFAULT_FROM_EMAIL: email@example.com
  WEBLATE_LOGLEVEL: DEBUG
  WEBLATE_REGISTRATION_OPEN: "1"
  WEBLATE_SERVER_EMAIL: email@example.com
  WEBLATE_SITE_DOMAIN: weblate.example.com
  WEBLATE_SITE_TITLE: Weblate
  # PostgreSQL setup
  POSTGRES_DATABASE: databasename
  POSTGRES_HOST: database.host
  POSTGRES_PASSWORD: changethispassword
  POSTGRES_PORT: "5432"
  POSTGRES_USER: databaseuser
  # Cache setup
  REDIS_HOST: redis.host
  REDIS_PASSWORD: changethispassword
  REDIS_PORT: "6379"
  # Mail server, the server has to listen on port 587 and understand TLS
  WEBLATE_EMAIL_HOST: "127.0.0.1"
  WEBLATE_EMAIL_HOST_PASSWORD: changethispassword
  WEBLATE_EMAIL_HOST_USER: emailuser
