apiVersion: v1
kind: Secret
metadata:
  name: outline-env
type: Opaque
stringData:
  secretKey: "" # openssl rand -hex 32
  utilsSecret: "" # openssl rand -hex 32
  databaseUrl: "postgres://<user>:<password>@<url>:<port>/outline" # standard port is 5432
  databaseUrlTest: "postgres://<user>:<password>@<url>:<port>/outline-test" # standard port is 5432
  redisUrl: "redis://<user>:<password>@<url>:<port>" # standard port is 6379
  url: "<http[s]://domain.com>"
  port: "80" # we're using SSL termination at the ingress
  slackKey: "" # get from slack, consult outline documentation
  slackSecret: "" # get from slack, consult outline documentation
  slackVerificationToken: "" # get from slack, consult outline documentation
  slackAppId: "" # get from slack, consult outline documentation
  sentryDsn: "" # TODO
  awsAccessKeyId: ""
  awsSecretAccessKey: ""
  awsRegion: "fr-par"
  awsS3UploadBucketUrl: "https://djnd-outline.s3.fr-par.scw.cloud" # TODO
  awsS3UploadBucketName: "djnd-outline"
  awsS3Acl: "private"
  smtpHost: ""
  smtpPort: ""
  smtpUsername: ""
  smtpPassword: ""
  smtpFromEmail: ""
  smtpReplyEmail: ""
