apiVersion: v1
kind: Secret
metadata:
  name: static-backup-common
stringData:
  AGE_RECIPIENT: "recipient"
  AWS_ACCESS_KEY_ID: "key_id"
  AWS_SECRET_ACCESS_KEY: "secret_key"
  S3_REGION: "region"
  S3_ENDPOINT_URL: "endpoint_url"
