apiVersion: v1
kind: Secret
metadata:
  name: secrets-backup
stringData:
  PGHOST: "your.postgresql.host"
  DATABASE_USER: "dbuser"
  DATABASE_PASSWORD: "dbpass"
  AWS_ACCESS_KEY_ID: "awsclikey"
  AWS_SECRET_ACCESS_KEY: "awsclisecret"
  DB_BACKUP_PASSWORD: "somebackuppassword"
  AGE_RECIPIENT: "generatedkey"
